*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BODY */

body{
    min-height:100vh;
    overflow-x:hidden;
    background:#0f172a;
}

/* BLUR BACKGROUND */

.bg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url("anmol.jpg") center/cover no-repeat;
    filter: blur(10px) brightness(0.6);
    transform: scale(1.1);
    z-index:-1;
}

/* CENTER CONTAINER */

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    padding-bottom:80px;
}

/* GLASS CARD */

.card{
    width:350px;
    padding:40px;
    text-align:center;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.3);
    animation:fadeUp 1s ease;
    transition:0.4s ease;
}

.card:hover{
    transform:translateY(-12px);
}

/* PROFILE IMAGE */

.profile{
    width:130px;
    height:130px;
    border-radius:50%;
    border:4px solid white;
    object-fit:cover;
    transition:0.5s ease;
}

.card:hover .profile{
    transform:scale(1.1) rotate(5deg);
}

/* TEXT */

h1{
    margin-top:15px;
    color:white;
    font-size:28px;
}

p{
    color:#e5e7eb;
    margin:8px 0 25px;
    font-size:15px;
}

/* BUTTONS */

.buttons{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    justify-content:center;
}

.btn{
    text-decoration:none;
    padding:10px 22px;
    border-radius:30px;
    background:white;
    color:#764ba2;
    font-weight:600;
    position:relative;
    overflow:hidden;
    transition:0.4s ease;
}

.btn::before{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:linear-gradient(120deg,#667eea,#764ba2);
    transition:0.4s ease;
    z-index:-1;
}

.btn:hover::before{
    left:0;
}

.btn:hover{
    color:white;
    transform:scale(1.08);
}

/* FOOTER */

.footer{
    position:fixed;
    bottom:0;
    left:0;
    height: 55px;
    width:100%;
    padding:16px 0;
    text-align:center;
    background:rgba(30,41,59,0.85);
    backdrop-filter: blur(6px);
    color:#94a3b8;
    font-size:0.95rem;
    letter-spacing:0.5px;
    z-index:10;
}

.footer p{
    transition:0.3s ease;
}

.footer p:hover{
    color:#38bdf8;
    text-shadow:0 0 12px #38bdf8;
}

/* ANIMATION */

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* RESPONSIVE */

@media(max-width:500px){

    .card{
        width:90%;
        padding:30px;
    }

    .profile{
        width:110px;
        height:110px;
    }

    h1{
        font-size:24px;
    }
}
