*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Background */
body{
    height:100vh;
    overflow:hidden;
}

.bg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url("anmol.jpg") center/cover no-repeat;
    filter: blur(8px);
    transform: scale(1.1);
    z-index:-1;
   }

/* Center container */
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Glass Card */
.card{
    width:350px;
    padding:40px;
    text-align:center;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.3);
    animation:fadeUp 1s ease;
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

/* Profile Image */
.profile{
    width:130px;
    height:130px;
    border-radius:50%;
    border:4px solid white;
    object-fit:cover;
    transition:0.5s;
}

.card:hover .profile{
    transform:scale(1.1) rotate(5deg);
}

/* Text */
h1{
    margin-top:15px;
    color:white;
    font-size:28px;
}

p{
    color:#eee;
    margin:8px 0 25px;
    font-size:15px;
}

/* Buttons */
.buttons{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    justify-content:center;
}

.btn{
    text-decoration:none;
    padding:10px 20px;
    border-radius:30px;
    background:white;
    color:#764ba2;
    font-weight:600;
    transition:0.4s;
    position:relative;
    overflow:hidden;
}

.btn::before{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:linear-gradient(120deg,#667eea,#764ba2);
    transition:0.4s;
    z-index:-1;
}

.btn:hover::before{
    left:0;
}

.btn:hover{
    color:white;
    transform:scale(1.05);
}

/* Social Icons */
.socials{
    margin-top:25px;
}

.socials a{
    color:white;
    font-size:22px;
    margin:0 10px;
    transition:0.4s;
}

.socials a:hover{
    color:#ffd86b;
    transform:translateY(-5px);
}

/* Animation */
@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
